html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}



#paginaprincipal{
    padding-left:7%;
    padding-right: 7%;
    
}

#color{
    color: black;
}

#margin{
    margin: 0;
    padding: 0;
}

#photo{
    height: 100%;
    width: 100%;
    border: 0;
    
}


#titulo{
    color: rgb(7, 79, 105);
    
}


