@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
body  {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-ondulado-degradado_79603-2091.jpg?w=996&t=st=1702241782~exp=1702242382~hmac=cce118a7fbeedaab28ff98441348259492bbbd863239ab8ae38e10bd2863f240');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:2500px; }
to {background-position: -70px 0px;background-size: 2250px;}
}

@keyframes slidein {
from {background-position: top;background-size:2500px; }
to {background-position: -70px 0px;background-size: 2250px;}

}






#paginaprincipal{
    padding-left:4%;
    padding-right: 4%;
    
}

#color{
    color: black;
}

#margin{
    margin: 0;
    padding: 0;
}

#photo{
    height: 100%;
    width: 100%;
    border: 0;
    
}


#titulo{
    color: whitesmoke;
    
}


